#                                           TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [14]:
s= "mootaasem"
s[::-1]

'mesaatoom'

2. Check if a string is a palindrome.

In [3]:
s1 = "level"
if s1[::1] == s1[::-1]:
    print(f"{s1} is palindrome")
else : 
    print("is not ")

level is palindrome

3. Convert a string to uppercase.

In [4]:
s1.upper()

'LEVEL'

4. Convert a string to lowercase.

In [5]:
s.lower()

'motasem'

5. Count the number of vowels in a string.

In [31]:
vowels = ["i","e","u","a","o"] 
vowels_count = {}
for v in s :
    if v in vowels :
        if v not in vowels_count :
           vowels_count[v] = s.count(v) 
#         print(f"number of vowel '{v}' is : {s.count(v)}  ")
vowels_count

{'o': 2, 'a': 2, 'e': 1}

In [34]:
for k,v in vowels_count.items ():
    print(k , v)

o 2
a 2
e 1

In [30]:
def vo (text):
    
   vowels = ["i","e","u","a","o"]
   count = []
   for v in s :
       if v in vowels :
           c = s.count(v)
           count.append(c)
   return sum(count)
vo("aaooeeuu")

9

6. Count the number of consonants in a string.

In [36]:
consonants_count = {}
for c in s :
    if c not in vowels :
        if c not in consonants_count :
            consonants_count[c] = s.count(c)
consonants_count

{'m': 2, 't': 1, 's': 1}

7. Remove all whitespaces from a string.

In [38]:
s1 = "Hello i love python"
s1.replace(" " ,"")

'Helloilovepython'

8. Find the length of a string without using the `len()` function.

In [46]:
letter = 0
for i in s1 :
    letter+=1
print(f"length of {s1} is. : {letter}")

length of Hello i love python is. : 19

9. Check if a string contains a specific word.

In [73]:
my_string = "HeLlo I lOvE Python"
ss=my_string.lower()
def check_word ():
    text = input ("enter the word : ").lower().strip()
    ss=my_string.lower()
    l=ss.split()
    for t in l:
  
        if t == text :
            print(f"{text} found")
            break
    else :
            print("not found")
        
check_word()

enter the word : dfskajn
not found

10. Replace a word in a string with another word.

In [79]:
ss.replace("python","sql")

'hello i love sql'

11. Count the occurrences of a word in a string.

In [107]:
def occurence():
    text = input ("enter your text : ").lower().strip()
    l1=text.split()
    search = input("enter the word that you are looking for : ")
    count=0
    for i in l1 :
        if i == search :
            count+=1
    if count>0 :
        return f"the word \"{search}\" appeard {count} times "
    else :
        return "word doesnt exist"
occurence()

enter your text :  i love the love of my love
enter the word that you are looking for : sql

'word doesnt exist'

12. Find the first occurrence of a word in a string.

In [94]:
text = input ("enter your text : ").lower().strip()
l1=text.split()
search = input("enter the word that you are looking for : ")
if  search in l1 :
        print(f" first occurence of {search} happened at index {l1.index(search)}")

enter your text : i love the love of my love
enter the word that you are looking for : love
 first occurence of love happened at index 1

13. Find the last occurrence of a word in a string.

In [114]:
text = input ("enter your text : ").lower().strip()
l1=text.split()
search = input("enter the word that you are looking for : ")
occ_counter = []
for index , word in enumerate (l1) : 
  if search == word :
    occ_counter.append(index)
occ_counter
f"Last occurence happend at index {occ_counter[-1]} "

enter your text : hi i love python , python is python
enter the word that you are looking for : python

'Last occurence happend at index 7 '

14. Split a string into a list of words.

In [116]:
nl = my_string.split()
nl

['HeLlo', 'I', 'lOvE', 'Python']

15. Join a list of words into a string.

In [119]:
ns =" ".join(nl)
ns

'HeLlo I lOvE Python'




16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [122]:
ss1 = "hello i love python"
ss1.replace(" ","_")

'hello_i_love_python'

17. Check if a string starts with a specific word or phrase.

In [123]:
ss1.startswith("hello")

True

18. Check if a string ends with a specific word or phrase.

In [125]:
ss1.endswith("python")

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [129]:
ss1.title()

'Hello I Love Python'

20. Find the longest word in a string.

In [164]:
text = "i love you"
l = text.split()
longest_word =[]
for i in l :
    if len(i)>len(longest_word):
        longest_word =i
longest_word

# ind={}
# for n,i in enumerate (l) :
#    x = len(i)
#    ind[n] = len(i)
    
# max(ind.values())

'love'

21. Find the shortest word in a string.

In [170]:
text = "i love you"
l = text.split()
shortest_word = None
for w in l :
    if  shortest_word is None or len (w) < len (shortest_word) :
        shortest_word = w
shortest_word

'i'

22. Reverse the order of words in a string.

In [172]:
reversed_string = " ".join(l[::-1])
reversed_string

'you love i'

23. Check if a string is alphanumeric.

In [181]:
sg="hey i havegot $50 thank you" # it contains spaces and special character it will give False
# remove the speacial characters and spaces 
sg_cleanedL =[]
for c in sg:
    if c.isalnum():
        sg_cleanedL.append(c)
cleaned_sgS="".join(sg_cleanedL)
cleaned_sgS.isalnum()

True

24. Extract all digits from a string.

In [184]:
newS = "hey i'm motasem i'm 41 years old and my progress level is 99 %"
Sl = newS.split()
num=[]
for w in Sl :
    if w.isdigit():
        num.append(w)
num

['41', '99']

25. Extract all alphabets from a string.

In [185]:
alpha=""
for w in Sl :
    if w.isalpha():
        alpha+=w
alpha

'heymotasemyearsoldandmyprogresslevelis'

26. Count the number of uppercase letters in a string.

In [186]:
my_word = "Hello How Are You ?"
count=0
for w in my_word :
    if w.isupper():
        count+=1
count

4

27. Count the number of lowercase letters in a string.

In [188]:
my_word = "Hello How Are You ?"
lower_case = {}
for w in my_word :
    if w.islower():
        lower_case[w]=my_word.count(w)
lower_case

{'e': 2, 'l': 2, 'o': 3, 'w': 1, 'r': 1, 'u': 1}

28. Swap the case of each character in a string.

In [193]:
my_word = "Hello How Are You ?"
modified_word = ""
for w in my_word :
    if w.isupper():
        modified_word+=w.lower()
    else :
        modified_word+=w.upper()
 
modified_word

'hELLO hOW aRE yOU ?'

In [194]:
my_word.swapcase()

'hELLO hOW aRE yOU ?'

29. Remove a specific word from a string.

In [199]:
my_word = "Hello How Are You ?"
your_word=input("enter the word that you would like to remove: ").strip()
my_word.replace(your_word,"")
# def remove_word():
#     your_word=input("enter the word that you would like to remove: ").strip()
#     return my_word.replace(your_word,"")
# remove_word()

enter the word that you would like to remove: How

'Hello  Are You ?'

30. Check if a string is a valid email address.

In [204]:
import re
ur_email = input("enter your email : ").lower().strip()
# Email Pattern => [A-z0-9\.]+@[A-z0-9]+\.(com|net|org|info)
check = re.search(r"[A-z0-9\.]+@[A-z0-9]+\.(com|net|org|info)",ur_email)
if check :
    print(f"this {ur_email} is a valid email")
else :
    print("not valid")

enter your email : rthe wgg
not valid

31. Extract the username from an email address string.

In [208]:
ur_email = input("enter your email : ").lower().strip()

index = ur_email.index("@")
f"your username is : {ur_email[:index]}"

enter your email : motasem@gmail.com

'your username is : motasem'

32. Extract the domain name from an email address string.

In [219]:
ur_email = input("enter your email : ").lower().strip()

index = ur_email.index("@")
ur_email[index:]

enter your email : mo@gmail.com

'@gmail.com'

33. Replace multiple spaces in a string with a single space.

In [221]:
string_with_multi_spaces = "This    is    a    string     with     multiple     spaces"
" ".join(string_with_multi_spaces.split()).replace("with","without")

'This is a string without multiple spaces'

34. Check if a string is a valid URL.

In [225]:
ur_url = input("enter your url : ").strip().lower()
check = re.search(r"(https?://)?(www\.)?[A-z0-9]+\.[A-z]+",ur_url)
if check :
    print(f"this url \"{ur_url}\" is valid")
else :
    print("not valid")

enter your url : google.com
this url "google.com" is valid

35. Extract the protocol (http or https) from a URL string.

In [227]:
ur_url = input("enter your url : ").strip().lower()
check = re.search(r"(https?://)?(www\.)?[A-z0-9]+\.[A-z]+",ur_url)
f"protocol is : {check.group(1)}"

enter your url :  https://www.amazon.com

'protocol is : https://'

36. Find the frequency of each character in a string.

In [235]:
my_string1 = "mmoottaasseemm"
freq={}
for w in my_string1 :
    freq[w] = my_string1.count(w)
    
for k,v in freq.items():
    print(f"char {k} appears {v} times")

char m appears 4 times
char o appears 2 times
char t appears 2 times
char a appears 2 times
char s appears 2 times
char e appears 2 times

In [236]:
freq

{'m': 4, 'o': 2, 't': 2, 'a': 2, 's': 2, 'e': 2}

37. Remove all punctuation from a string.

In [242]:
import re
sts= "Hello @#$ %$# )(*& world"
cleaned = re.sub(r"[^\w\s]","",sts)

" ".join(cleaned.split())

'Hello world'

38. Check if a string contains only digits.

In [245]:
st2= "123"
st2.isdigit()

True

39. Check if a string contains only alphabets.

In [249]:
st3 = "motasem how are you"
st3.isalpha()

False

In [251]:
("".join(st3.split())).isalpha()

True

40. Convert a string to a list of characters.

In [256]:
st3 = "pwskills"
st3L=[]
for w in st3 :
    st3L.append(w)
st3L

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

41. Check if two strings are anagrams.

In [262]:
first_word = input("enter 1st word: ").lower().strip()
second_word =input("enter 2nd word: ").lower().strip()
if first_word.split().sort() == second_word.split().sort():
    print("is anagram")
else : 
    print("not")

enter 1st word: listen
enter 2nd word: silent
is anagram

In [265]:
sorted("motasem")

['a', 'e', 'm', 'm', 'o', 's', 't']

42. Encode a string using a Caesar cipher.

In [275]:
def caesar_cipher_encrypt(text,shift):
    
    encrypted_text = ""
    
    for char in text :
        
        #check if the character is upper case 
        if char.isupper(): # 65 is the unicode code for uppercase characters
                             
                           # ord()  function in Python returns the Unicode code point of the character char
                           # (ord(char) - 65): Subtracting 65 from the Unicode code point normalizes the value
                           # of the character relative to the uppercase English alphabet
                           # % 26: The modulo operator % is used to ensure that the result
                           # remains within the range of the alphabet (26 letters) 
            encrypted_char = chr((ord(char) - 65 + shift) % 26 + 65 )
            
        #check if the character is upper case 
        elif char.islower() : 
            encrypted_char = chr((ord(char) - 97 + shift) % 26 + 97) #97 for lowercase char
            
        else :
            encrypted_char = char
        
        encrypted_text += encrypted_char
    
    return encrypted_text

print(caesar_cipher_encrypt ("PWSkills", 3) )

SZVnloov

43. Decode a Caesar cipher encoded string.

In [277]:
# the decrption will undo the shift 

def caesar_cipher_decrypt (text,shift) :
    
    decrypted_text = ""
    
    for char in text :
        
        if char.isupper():   ## here we undo the shift to decrypt (ord(char) - 65 - shift )
            decrypted_char = chr((ord(char) - 65 - shift) % 26 + 65 )
        
        elif char.islower() :
            decrypted_char = chr((ord(char) - 97 - shift) % 26 +97 )
        
        else :
            decrypted_char = char
        
        decrypted_text += decrypted_char 
    
    return decrypted_text 

print( caesar_cipher_decrypt ("SZVnloov", 3) )

PWSkills

44. Find the most frequent word in a string.

In [282]:
phrase = "hello i love the love of the love python and python and sql , sql"
ll = phrase.split()
dict = {}
for i in ll :
  dict[i]  =ll.count(i)

for k,v in dict.items():
    print(f"{k.center(10)} appears {v} times")

  hello    appears 1 times
    i      appears 1 times
   love    appears 3 times
   the     appears 2 times
    of     appears 1 times
  python   appears 2 times
   and     appears 2 times
   sql     appears 2 times
    ,      appears 1 times

In [284]:
max_key = max(dict, key=dict.get) 
#  max() function is used with the key parameter set to word_counts.get.
# This specifies that the maximum value should be determined based on the dictionary values.
max_key

'love'

In [286]:
max_value = dict[max_key]
max_value

3

45. Find all unique words in a string.

In [296]:
def unique_words(text):
    word = text.split()
    
    return set(word)

unique_w = unique_words("hello hello hello how how how  are are are are you ")
f"unique words , {unique_w}"

"unique words , {'hello', 'you', 'how', 'are'}"

46. Count the number of syllables in a string.

In [297]:
def count_syllables(word):
    vowels = "aeiouAEIOU"
    count = 0
    prev_char_was_vowel = False

    for char in word:
        if char in vowels:
            # If current character is a vowel and previous character was not a vowel,
            # it indicates the start of a new syllable
            if not prev_char_was_vowel:
                count += 1
            prev_char_was_vowel = True
        else:
            prev_char_was_vowel = False

    # Adjust count for special cases like 'le' at the end of words
    if word.endswith("le"):
        count -= 1

    return max(count, 1)  # Ensure at least one syllable for non-empty words

# Example usage
word = "programming"
syllable_count = count_syllables(word)
print(f"Number of syllables in '{word}': {syllable_count}")

Number of syllables in 'programming': 3

47. Check if a string contains any special characters.

In [298]:
import re

def contains_special_characters(text):
    # Define a regular expression pattern to match special characters
    pattern = r'[!@#$%^&*()_+{}\[\]:;<>,.?/\\~`|"\']'

    # Use re.search() to find if any special character matches the pattern in the text
    if re.search(pattern, text):
        return True
    else:
        return False

# Example usage
text = "Hello! How are you?"
if contains_special_characters(text):
    print("The string contains special characters.")
else:
    print("The string does not contain any special characters.")

The string contains special characters.

48. Remove the nth word from a string.

In [299]:
def remove_nth_word(sentence, n):
    # Split the sentence into words
    words = sentence.split()

    # Check if the nth word exists
    if n >= len(words) or n < 0:
        return "Invalid index"

    # Remove the nth word
    del words[n]

    # Join the words back into a sentence
    new_sentence = ' '.join(words)
    
    return new_sentence

# Example usage
sentence = "This is a sample sentence to test the function"
n = 3  # Index of the word "sample"
new_sentence = remove_nth_word(sentence, n)
print("Original sentence:", sentence)
print("New sentence:", new_sentence)

Original sentence: This is a sample sentence to test the function
New sentence: This is a sentence to test the function

In [310]:
def remove_nth_word (word , n):

    l = word.split()
    l[n] = ""
    return " ".join(l)

print(remove_nth_word("hello i'm very happy today",3))

hello i'm very  today

49. Insert a word at the nth position in a string.

In [300]:
def insert_word_at_nth_position(sentence, word, n):
    # Split the sentence into words
    words = sentence.split()

    # Check if the nth position is valid
    if n < 0 or n > len(words):
        return "Invalid position"

    # Insert the word at the nth position
    words.insert(n, word)

    # Join the words back into a sentence
    new_sentence = ' '.join(words)
    
    return new_sentence

# Example usage
sentence = "This is a sample sentence"
word_to_insert = "new"
position = 3  # Index at which to insert the word
new_sentence = insert_word_at_nth_position(sentence, word_to_insert, position)
print("Original sentence:", sentence)
print("New sentence:", new_sentence)

Original sentence: This is a sample sentence
New sentence: This is a new sample sentence

In [311]:
def insert_word_at_nth_position (sentence , word , n):

    l = sentence.split()
    l.insert( n, word)
    return " ".join(l)

print(insert_word_at_nth_position("hello i'm very happy today","and excited",4))

hello i'm very happy and excited today

50. Convert a CSV string to a list of lists.

In [301]:
def csv_string_to_list(csv_string):
    # Split the CSV string into rows
    rows = csv_string.strip().split('\n')

    # Split each row into individual values and create a list of lists
    csv_list = [row.split(',') for row in rows]

    return csv_list

# Example usage
csv_string = "1,2,3\n4,5,6\n7,8,9"
csv_list = csv_string_to_list(csv_string)
print("CSV List:", csv_list)

CSV List: [['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [316]:
l=[]
for i in range(1,11):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [318]:
l1 = list(i for i in range(1,11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [320]:
count = 0
for i in l1 :
    count+=1
count

10

3. Append an element to the end of a list.

In [321]:
l1.append(11)
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [ ]:
l1.insert(3,"index")
l1

[1, 2, 3, 'index', 4, 5, 6, 7, 8, 9, 10, 11]

5. Remove an element from a list by its value.

In [ ]:
l1.remove('index')
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

5. Remove an element from a list by its value.

In [430]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

6. Remove an element from a list by its index.

In [433]:
my_list = [1, 2, 3, 4, 5]
removed_element = my_list.pop(2)
removed_element

3

7. Check if an element exists in a list.

In [432]:
my_list = [1, 2, 3, 4, 5]
if 3 in my_list:
    print("Element 3 exists in the list")
else:
    print("Element 3 does not exist in the list")

Element 3 exists in the list

8. Find the index of the first occurrence of an element in a list.

In [434]:
my_list = [10, 20, 30, 40, 50]
element = 30
index = my_list.index(element)
print("Index of the first occurrence:", index)

Index of the first occurrence: 2

9. Count the occurrences of an element in a list.

In [435]:
my_list = [1, 2, 3, 1, 4, 1, 5]
element = 1
count = my_list.count(element)
print("Occurrences of", element, ":", count)

Occurrences of 1 : 3

10. Reverse the order of elements in a list.

In [436]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

In [437]:
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [438]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
my_list.sort()
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [1, 1, 2, 3, 3, 4, 5, 5, 6, 9]

In [439]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
sorted_list = sorted(my_list)
print("Sorted list in ascending order:", sorted_list)

Sorted list in ascending order: [1, 1, 2, 3, 3, 4, 5, 5, 6, 9]

12. Sort a list in descending order.

In [440]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
my_list.sort(reverse=True)
print("Sorted list in descending order:", my_list)

Sorted list in descending order: [9, 6, 5, 5, 4, 3, 3, 2, 1, 1]

In [441]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
my_list.sort()
my_list[::-1]

[9, 6, 5, 5, 4, 3, 3, 2, 1, 1]

13. Create a list of even numbers from 1 to 20.

In [442]:
even_numbers = [x for x in range(1, 21) if x % 2 == 0]
print("List of even numbers from 1 to 20:", even_numbers)

List of even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [443]:
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]
print("List of odd numbers from 1 to 20:", odd_numbers)

List of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [444]:
my_list = [1, 2, 3, 4, 5]
list_sum = sum(my_list)
print("Sum of all elements in the list:", list_sum)

Sum of all elements in the list: 15

16. Find the maximum value in a list.

In [445]:
my_list = [1, 8, 5, 12, 3]
max_value = max(my_list)
max_value

12

17. Find the minimum value in a list.

In [446]:
min(my_list)

1

18. Create a list of squares of numbers from 1 to 10.

In [447]:
squares = [x ** 2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [448]:
import random

# Define the range and size of the list
min_value = 1
max_value = 100
list_size = 10

# Generate a list of random numbers
random_numbers = [random.randint(min_value, max_value) for _ in range(list_size)]

print(random_numbers)

[4, 99, 14, 15, 63, 46, 28, 40, 45, 6]

20. Remove duplicates from a list.

In [449]:
my_list = [1, 2, 3, 2, 4, 5, 1, 6, 3]

unique_elements = list(set(my_list))

print(unique_elements)

[1, 2, 3, 4, 5, 6]

21. Find the common elements between two lists.

In [450]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_elements = list(set(list1) & set(list2))
common_elements

[4, 5]

In [458]:
common_elements = list(set(list1).intersection(list2))
common_elements

[4, 5]

23. Merge two lists.

23. Merge two lists.

In [460]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
merged_list

[1, 2, 3, 4, 5, 6]

In [462]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
merged_list = list1
merged_list

[1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [463]:
my_list = [1, 2, 3, 4, 5]
multiplied_list = [x * 2 for x in my_list]
print(multiplied_list)

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [464]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = [x for x in my_list if x % 2 != 0]
print(filtered_list)

[1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [465]:
string_list = ["1", "2", "3", "4", "5"]
integer_list = [int(x) for x in string_list]
print(integer_list)

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [466]:
integer_list = [1, 2, 3, 4, 5]
string_list = [str(x) for x in integer_list]
print(string_list)

['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [470]:
def flatten_list(nested_list):
    flattened_list = []
    for item in nested_list:
        if isinstance(item, list):
            flattened_list.extend(flatten_list(item))
        else:
            flattened_list.append(item)
    return flattened_list

nested_list = [[1, 2, 3], [4, 5], [6, [7, 8], 9]]
flatten_list(nested_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [477]:
def fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    # Generate the remaining Fibonacci numbers
    for i in range(2, n):
        next_number = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_number)

    return fibonacci_list

# Create a list of the first 10 Fibonacci numbers
first_10_fibonacci = fibonacci(10)
print(first_10_fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [478]:
def is_sorted(lst):
    """
    Check if a list is sorted in ascending order.
    """
    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:
            return False
    return True

# Test the function
list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]

print(is_sorted(list1))  # True
print(is_sorted(list2))  # False

True
False

31. Rotate a list to the left by `n` positions.

In [481]:
l = [1, 2, 3, 4, 5]

def rotate_left (list , n):
   
    if n > len(list):
        raise f"out of range error"
    rotated_list = list[n:] + list[:n]

    return print(f"rotated list {rotated_list}")

rotate_left(l,2)

rotated list [3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [484]:
l = [1, 2, 3, 4, 5]
def rotate_right (list,n):
    n %= len(list)
    rotated_list = list[-n:] + list[:-n]
    return rotated_list 
rotate_right(l,9) # n will be 4 , 9%5 len(l) = 5/5 =1, remain 4 .

[2, 3, 4, 5, 1]

33. Create a list of prime numbers up to 50.

In [488]:
list_of_prime_numbers = []

for n in range(2,50):
    is_prime = True
    for i in range (2,n):
       if  n % i == 0 :
           is_prime = False
           break
    else : list_of_prime_numbers.append(n)
           

print(list_of_prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [493]:
def chunkify(lst, n):
    
   return [lst[i:i + n] for i in range(0, len(lst), n)]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
chunks = chunkify(my_list, chunk_size)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [494]:
l = [99,-100,400,2,45,-900]
l.sort()
second_max = l[-2]
print(f"second largest element : {second_max}")

second largest element : 99

36. Replace every element in a list with its square.

In [495]:
l = [99,-100,400,2,45,-900]
l2 = []
for i in l :
    i*=i
    l2.append(i)
l2

[9801, 10000, 160000, 4, 2025, 810000]

In [497]:
squared_list = [x**2 for x in l ]
squared_list

[9801, 10000, 160000, 4, 2025, 810000]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [503]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ldict = {}
for i in l :
   ldict[i] = l.index(i)
ldict

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9}

In [502]:
ldict = {value : index for index ,value in enumerate (l)}
ldict

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9}

38. Shuffle the elements of a list randomly.

In [510]:
import random
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(l)
l

[9, 1, 10, 3, 2, 7, 8, 5, 6, 4]

39. Create a list of the first 10 factorial numbers.

In [511]:
def factorial(n):
    if n == 0 :
        return 1
    else:
        return n * factorial(n-1)
list_of_ten = [factorial(i) for i in range(10)]
list_of_ten

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [525]:
l1= [100, 2, 34, 1, 5]
l2 = [100, 1, 45, 9, 7]
set1 = set(l1)
set2 = set(l2)

if set1.intersection(set2) :
    print(f"these two lists have one or more elements in commen")
    print(f"elements in common {set1.intersection(set2)}")
else :
    print("no ")

these two lists have one or more elements in commen
elements in common {1, 100}

41. Remove all elements from a list.

In [526]:
l2 = [100, 1, 45, 9, 7]
l2=[]
l2

[]

In [527]:
l1.clear()
l1

[]

42. Replace negative numbers in a list with 0.

In [533]:
lst = [-200, 2, -45, 12, 67]
modified_list = []
for x in lst :
    if x < 0 :
        
        modified_list.append(0)
    else :
        modified_list.append(x)
modified_list

[0, 2, 0, 12, 67]

43. Convert a string into a list of words.

In [534]:
st = "Hello i love python"
st_list = st.split()
st_list

['Hello', 'i', 'love', 'python']

44. Convert a list of words into a string.

In [535]:
" ".join(st_list)

'Hello i love python'

45. Create a list of the first `n` powers of 2.

In [538]:
def first_n_power_2 (n):
    lnp2 = []
    for i in range(n):
        i=2**i
        lnp2.append(i)
    return lnp2
first_n_power_2(10)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the longest string in a list of strings.

In [546]:
st_list = ['Hello', 'i', 'love', 'python', 'kljsbdfvlk']
longest_string = max(st_list, key=len)
print("Longest string:", longest_string)

Longest string: kljsbdfvlk

In [550]:
lonest = max(st_list , key = len )
lonest

'kljsbdfvlk'

47. Find the shortest string in a list of strings.

In [551]:
min_st = min(st_list , key = len)
min_st

'i'

48. Create a list of the first `n` triangular numbers.

In [557]:
def triangualr_num (n) :
    nlist = []
    for i in range(1,n+1) :
         i = (i * (i + 1) // 2)
         nlist.append(i)
    return nlist
triangualr_num(9)

[1, 3, 6, 10, 15, 21, 28, 36, 45]

49. Check if a list contains another list as a subsequence.

In [559]:
def is_subsequence(main_list, subsequence):
    # Initialize pointers for the main list and the subsequence
    main_ptr = 0
    sub_ptr = 0
    
    # Iterate through the main list
    while main_ptr < len(main_list) and sub_ptr < len(subsequence):
        # If the current element in the main list matches the current element in the subsequence
        if main_list[main_ptr] == subsequence[sub_ptr]:
            # Move to the next element in the subsequence
            sub_ptr += 1
        # Move to the next element in the main list
        main_ptr += 1
    
    # If we reached the end of the subsequence, it is a subsequence of the main list
    return sub_ptr == len(subsequence)

# Example usage:
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
subsequence = [2, 4, 6, 8]
print(is_subsequence(main_list, subsequence))  # Output: True

True

50. Swap two elements in a list by their indices.

In [560]:
def swap_elements(lst, idx1, idx2):
    # Check if the indices are valid
    if 0 <= idx1 < len(lst) and 0 <= idx2 < len(lst):
        # Swap the elements at the given indices
        lst[idx1], lst[idx2] = lst[idx2], lst[idx1]

# Example usage:
my_list = [1, 2, 3, 4, 5]
swap_elements(my_list, 1, 3)
print(my_list)  # Output: [1, 4, 3, 2, 5]

[1, 4, 3, 2, 5]

In [561]:
my_list = [1, 2, 3, 4, 5]
my_list[1] , my_list[3] = my_list[3] , my_list[1]
my_list

[1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [562]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [563]:
my_tuple[2]

3

3. Find the length of a tuple without using the `len()` function.

In [568]:
counter = 0
for _ in my_tuple :
    counter+=1
counter

5

4. Count the occurrences of an element in a tuple.

In [570]:
t1 = (1,2,3,1,2,1,1)
tdict = {}
for i in t1 :
    tdict[i] = t1.count(i)
tdict

{1: 4, 2: 2, 3: 1}

In [571]:
my_tuple = (1, 2, 2, 3, 2, 4, 5, 2)   
element_to_count = 2   
occurrences = my_tuple.count(element_to_count)

print(f"The element {element_to_count} occurs {occurrences} times in the tuple.")

The element 2 occurs 4 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [572]:
my_tuple = (1, 2, 2, 3, 2, 4, 5, 2)
my_tuple.index(2)

1

6. Check if an element exists in a tuple.

In [574]:
elem = 7 
if elem in my_tuple :
    print(f"{elem} exists in this tuple")
else :
    print("doesn't exist")

doesn't exist

7. Convert a tuple to a list.

In [575]:
lt = list(my_tuple)
lt

[1, 2, 2, 3, 2, 4, 5, 2]

8. Convert a list to a tuple.

In [576]:
tl = tuple(lt)
tl

(1, 2, 2, 3, 2, 4, 5, 2)

9. Unpack the elements of a tuple into variables.

In [580]:
my_tuple = (1, 2, 3) 
a, b, c = my_tuple
a

1

10. Create a tuple of even numbers from 1 to 10.

In [592]:
even_tuple = tuple ( i for i in range(1,11) if i % 2 ==0 ) # or range(2,11,2) from 2 .. two steps 2, 4, 6 ...
even_tuple

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [591]:
odd_tuple =tuple(i for i in range(1,11,2)) # from 1,  two steps , 3, 5, 7.... 
odd_tuple                                  # or i % 2 != 0

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [595]:
all_tuple = odd_tuple +even_tuple
all_tuple

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

13. Repeat a tuple three times.

In [598]:
repeated_tuple = all_tuple *3
print(repeated_tuple,end=" ")

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

14. Check if a tuple is empty.

In [610]:
test_tuple = (1,) # the (,) if the tuple has one element  
if not test_tuple :  # or len(test_tuple) == 0
    print(f"test_tuple is empty")
else :
    print(f"test_tuple : {test_tuple}")
type(test_tuple)

test_tuple : (1,)

tuple

15. Create a nested tuple.

In [611]:
nested_tuple = ((1, "A"), (2, "B"), (3, "C"))
nested_tuple

((1, 'A'), (2, 'B'), (3, 'C'))

16. Access the first element of a nested tuple.

In [613]:
nested_tuple[0][0]

1

17. Create a tuple with a single element.

In [615]:
single_element_tuple = (1,)
single_element_tuple

(1,)

18. Compare two tuples.

In [617]:
tuple1 = (1, 2, 3, 4)
tuple2 = (2, 4, 88, 9)
set(tuple1).intersection(set(tuple2))

{2, 4}

In [618]:
common_items = tuple (i for i in tuple1 if i in tuple2)
common_items

(2, 4)

19. Delete a tuple.

In [633]:
t1 = (1,2,3)
del t1

20. Slice a tuple.

In [636]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tuple1[::2]

(1, 3, 5, 7, 9)

In [637]:
tuple1[2:7]

(3, 4, 5, 6, 7)

In [638]:
tuple1[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [641]:
tuple1[-1:-4:-1]

(10, 9, 8)

21. Find the maximum value in a tuple.

In [642]:
max(tuple1)

10

22. Find the minimum value in a tuple.

In [643]:
min(tuple1)

1

23. Convert a string to a tuple of characters.

In [653]:
text= "hi i love python"
chars_tuple = tuple(text)
print(chars_tuple,end = "")

('h', 'i', ' ', 'i', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n')

24. Convert a tuple of characters to a string.

In [656]:
str_t = "".join(chars_tuple)
str_t

'hi i love python'

25. Create a tuple from multiple data types.

In [657]:
multiple_data_tuple = ("A" ,1,False)
multiple_data_tuple

('A', 1, False)

26. Check if two tuples are identical.

In [663]:
t1 = (1,2,3)
t2 = (1,2,3)
if t1 == t2 :
    print("tuples are identical")
else :
    print("not identical")

tuples are identical

27. Sort the elements of a tuple.

In [675]:
tu1 = (10, 2, 7, 9, 5, 6, 3, 8, 4, 1)
tu1L = []
for i in tu1 :
    tu1L.append(i)
tu1L.sort()
tuple(tu1L)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [676]:
sorted_tuple = tuple(sorted(tu1))
sorted_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

28. Convert a tuple of integers to a tuple of strings.

In [683]:
stringT = tuple(str(w) for w in sorted_tuple)
stringT

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

29. Convert a tuple of strings to a tuple of integers.

In [684]:
string_int = tuple(int(x) for x in stringT)
string_int

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

30. Merge two tuples.

In [686]:
print(stringT+string_int , end = "")

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

31. Flatten a nested tuple.

In [702]:
nestedT = (1, 2, (1, 2, 3))
flattened_t = []

for i in nestedT:
    if isinstance(i, tuple):
        flattened_t.extend(i)
    else:
        flattened_t.append(i)

flattened_t = tuple(flattened_t)
print(flattened_t)

(1, 2, 1, 2, 3)

In [704]:
nes_l = [1,2,3,[1,2,3]]
fl = []
for i in nes_l :
    if isinstance(i, list):
       fl.extend(i)
    else :
        fl.append(i)
fl

[1, 2, 3, 1, 2, 3]

32. Create a tuple of the first 5 prime numbers.

In [709]:
pt = []
for i in range(2,20) :
    is_prime = True 
    for n in range(2,i) :
        if i%n == 0 :
         is_prime = False
         break
    else :
       pt.append(i)
print(tuple(pt)[:5])

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [714]:
t1 = (1, 2, 3, 2, 1)
def is_palindrome(t) :
    if t == t[::-1]:
      print("is palindrome")
    else :
        return print("no")
is_palindrome(t1)

is palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [719]:
tuple_square = tuple(x**2 for x in range(1,6))
tuple_square

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [723]:
even_tuple = tuple(x for x in range(1,11) if x % 2 == 0)
even_tuple

(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [727]:
mult_tuple = tuple(x*2 for x in even_tuple)
mult_tuple

(4, 8, 12, 16, 20)

37. Create a tuple of random numbers.

In [742]:
import random 
rand_tuple = tuple(x for x in range(random.randint(1,11)))
rand_tuple

(0, 1, 2, 3, 4, 5, 6, 7)

In [738]:
import random 
rand_tuple = tuple(random.randint(1, 100) for _ in range(random.randint(1, 11)))
rand_tuple

(10, 94, 82, 79, 36, 72, 44)

38. Check if a tuple is sorted.

In [753]:
ts = (1, -2,2, 3, 4)

for i in range(len(ts) - 1):
    if ts[i] > ts[i + 1]:
        print("not sorted")
        break
else:
    print("sorted")

not sorted

39. Rotate a tuple to the left by `n` positions.

In [757]:
tr = (1, 2, 3, 4, 5, 6)

def rotate_left (t, n) :
    trl = list(t)
    modified_l = trl[n:] + trl[:n]  
    trm = tuple(modified_l)
    return trm
rotate_left(tr,2)

(3, 4, 5, 6, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [760]:
def rotate_right(t , n) :
    tl = list(t)
    modified_l = tl[-n:] + tl[:-n]
    tm = tuple(modified_l)
    return tm
rotate_right(tr,2)

(5, 6, 1, 2, 3, 4)

41. Create a tuple of the first 5 Fibonacci numbers.

In [761]:
def generate_fibonacci(limit):
    fibonacci_numbers = [0, 1]  # Seed values for Fibonacci sequence
    while len(fibonacci_numbers) < limit:
        next_fibonacci = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_fibonacci)
    return tuple(fibonacci_numbers)

# Generate the first 5 Fibonacci numbers
first_five_fibonacci = generate_fibonacci(5)
print(first_five_fibonacci)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [774]:
user_input = input("enter the elements separated by spaces : ")
ul = (user_input.split())
print(tuple(ul))

enter the elements separated by spaces : 1 2 3 4
('1', '2', '3', '4')

43. Swap two elements in a tuple.

In [776]:
def sswap (t ,index1,index2) :
    l = list(t)
    l[index1] , l[index2] = l[index2] , l[index1]
    return tuple(l)
t = (1, 2, 3, 4, 5)
sswap(t,0,2)

(3, 2, 1, 4, 5)

44. Reverse the elements of a tuple.

In [779]:
l = list(t)[::-1]
tl= tuple(l)
tl

(5, 4, 3, 2, 1)


45. Create a tuple of the first `n` powers of 2.

In [784]:
def first_n_powers_of_2(n):
    return tuple(2 ** i for i in range(n))

# Example usage:
n = 5
powers_of_2 = first_n_powers_of_2(n)
print(powers_of_2)  # Output: (1, 2, 4, 8, 16)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [785]:
def longest_string_in_tuple(t):
    return max(t, key=len)

# Example usage:
strings_tuple = ('apple', 'banana', 'kiwi', 'strawberry')
longest = longest_string_in_tuple(strings_tuple)
print(longest)  # Output: 'strawberry'

strawberry

47. Find the shortest string in a tuple of strings.

In [786]:
def shortest_string_in_tuple(t):
    return min(t, key=len)

# Example usage:
strings_tuple = ('apple', 'banana', 'kiwi', 'strawberry')
shortest = shortest_string_in_tuple(strings_tuple)
print(shortest)  # Output: 'kiwi'

kiwi

48. Create a tuple of the first `n` triangular numbers.

In [787]:
def triangular_numbers(n):
    return tuple(i * (i + 1) // 2 for i in range(1, n + 1))

# Example usage:
n = 5
triangular = triangular_numbers(n)
print(triangular)  # Output: (1, 3, 6, 10, 15)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [788]:
def contains_subsequence(main_tuple, sub_tuple):
    return any(sub_tuple == main_tuple[i:i+len(sub_tuple)] for i in range(len(main_tuple) - len(sub_tuple) + 1))

# Example usage:
main = (1, 2, 3, 4, 5, 6)
sub = (3, 4, 5)
print(contains_subsequence(main, sub))  # Output: True

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [789]:
def alternating_ones_and_zeroes(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Example usage:
n = 7
alternating = alternating_ones_and_zeroes(n)
print(alternating)  # Output: (1, 0, 1, 0, 1, 0, 1)

(1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [796]:
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [797]:
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [798]:
my_set.remove(6)
my_set

{1, 2, 3, 4, 5}

In [800]:
my_set.update({6})
my_set

{1, 2, 3, 4, 5, 6}

In [801]:
my_set.discard(6)
my_set

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [803]:
if 7 in my_set : 
    print("yes")
else :
    print("no")

no

5. Find the length of a set without using the `len()` function.

In [804]:
count = 0
for i in my_set :
    count+=1
count

5

6. Clear all elements from a set.

In [806]:
my_set.clear()
my_set

set()

7. Create a set of even numbers from 1 to 10.

In [809]:
my_even_set = set(x for x in range(1,11) if x%2 ==0)
my_even_set

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [810]:
my_odd_set = set(x for x in range(1,11) if x%2 !=0)
my_odd_set

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [811]:
set1 = {"A", 2, 1, 5}
set2 = {2, "B", 1}
set1.union(set2)

{1, 2, 5, 'A', 'B'}

10. Find the intersection of two sets.

In [812]:
set1.intersection(set2)

{1, 2}

11. Find the difference between two sets.

In [813]:
set1.difference(set2)

{5, 'A'}

In [814]:
set1-set2

{5, 'A'}

12. Check if a set is a subset of another set.

In [816]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
set1.issubset(set2)

True

13. Check if a set is a superset of another set.

In [817]:
set2.issuperset(set1)

True

14. Create a set from a list.

In [819]:
l = [1,2,3,4]
setl = set(l)
setl

{1, 2, 3, 4}

15. Convert a set to a list.

In [820]:
lset = list(setl)
lset

[1, 2, 3, 4]

16. Remove a random element from a set.

In [856]:
import random
my_set = {1, 2, 3, 4, 5}
random_index = (random .randint(0,len(my_set)-1))
l = list(my_set)
l.remove(l[random_index])
rset = set(l)
rset

{2, 3, 4, 5}

17. Pop an element from a set.

In [858]:
my_set1 = {1,2,3,4,5}
my_set1.pop()
my_set1

{2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [860]:
s1 = {1,3,5,7}
s2 = {1,2,4,6}
incommon = s1.intersection(s2)
print(f"s1 and s2 have  \"{incommon}\" in common")

s1 and s2 have  "{1}" in common

In [863]:
if s1.isdisjoint(s2):
    print("The sets have no elements in common.")
else:
    print("The sets have elements in common.")

The sets have elements in common.

19. Find the symmetric difference between two sets.

In [866]:
symmetric_difference = s1.symmetric_difference(s2)
symmetric_difference

{2, 3, 4, 5, 6, 7}

20. Update a set with elements from another set.

In [867]:
s3 = s1.union(s2)
s3

{1, 2, 3, 4, 5, 6, 7}

21. Create a set of the first 5 prime numbers.

In [889]:
pl = []
for i in range(2,20) :
    is_prime = True 
    for n in range(2,i) :
        if i%n == 0 :
         is_prime = False
         break
    else :
        pl.append(i)
ps = set(pl[:5])
ps

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [894]:
se1 = {1,2,3,4}
se2 = {1,2,3,4}
if se1 == se2:
    print("is identical")
else :
    print("not")

is identical

23. Create a frozen set.

In [895]:
my_s = {1,2,3,4}
my_frozen_set = frozenset(my_s)
my_frozen_set

frozenset({1, 2, 3, 4})

24. Check if a set is disjoint with another set.

In [896]:
se1.isdisjoint (se2)

False

25. Create a set of squares of numbers from 1 to 5.

In [899]:
lsq = set(x**2 for x in range(1,5) )
lsq

{1, 4, 9, 16}

26. Filter out all even numbers from a set.

In [901]:
s = {1,2,3,4,5,6,7,8,9,10}
filtered = set(x for x in s if x%2!=0)
filtered

{1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [902]:
m2 = set (x*2 for x in s)
m2

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

28. Create a set of random numbers.

In [905]:
import random 
sr = set (random.randint(1,100) for _ in range(10))
sr

{4, 5, 8, 16, 25, 42, 45, 50, 83, 92}

29. Check if a set is empty.

In [908]:
s = set()

if len(s) == 0:
    print("empty")
else:
    print("not")

empty

30. Create a nested set (hint: use frozenset).

In [914]:
ns = {1,2,3,frozenset({1,2,3})}
ns

{1, 2, 3, frozenset({1, 2, 3})}

31. Remove an element from a set using the discard method.

In [916]:
s = {1,2,3,4,5,6,7,8,9}
s.discard(2)
s

{1, 3, 4, 5, 6, 7, 8, 9}

32. Compare two sets.

In [917]:
s1= {1,2,3,4}
s2 = {1,3,7,9}
s1.intersection(s2)

{1, 3}

33. Create a set from a string.

In [919]:
st = ("Hello i love python")
lst = st.split()
sst = set(lst)
sst

{'Hello', 'i', 'love', 'python'}

34. Convert a set of strings to a set of integers.

In [929]:
ss = {"1", "2", "3"}
sint = set(int(x) for x in ss)
sint

{1, 2, 3}

35. Convert a set of integers to a set of strings.

In [932]:
se= {1,2,3,4,5}
sstr = set (str(x) for x in se)
sstr

{'1', '2', '3', '4', '5'}

36. Create a set from a tuple.

In [933]:
tp = (1,2,3,4,5)
st = set(x for x in tp)
st

{1, 2, 3, 4, 5}

In [935]:
set_from_tuple = set(tp)
set_from_tuple

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [936]:
tfs = tuple(set_from_tuple)
tfs

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [937]:
max_v = max(tfs)
max_v

5

39. Find the minimum value in a set.

In [938]:
min_v = min(tfs)
min_v

1

40. Create a set from user input.

In [941]:
user_input = input("enter the element separated by spaces ")
lfi = "".join(user_input)
ll = lfi.split()

sfu=set (int(x) for x in ll )
sfu

enter the element separated by spaces 1 2 3 4 5

{1, 2, 3, 4, 5}

41. Check if the intersection of two sets is empty.

In [944]:
s= {1,2,3,4}
s1 = {5,6,7,8}
c = s.intersection(s1)
if len(c) == 0:
    print("intersection is empty")
else :
    print("not empty")

intersection is empty

42. Create a set of the first 5 Fibonacci numbers.

In [945]:
def fibonacci(n):
    fib_set = set()
    a, b = 0, 1
    for _ in range(n):
        fib_set.add(a)
        a, b = b, a + b
    return fib_set

first_5_fibonacci = fibonacci(5)
print(first_5_fibonacci)

{0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [947]:
def remove_dublicates (lst) :
    return list(set(lst))
remove_dublicates([1,1,2,2,3,3,4,4])

[1, 2, 3, 4]

44. Check if two sets have the same elements, regardless of their count.

In [948]:
def same_element(set1,set2) :
    return set1.symmetric_difference(set2) == set()

set1 = {1, 2, 3}
set2 = {3, 2, 1}
set3 = {1, 2, 3, 4}
print(same_element(set1,set2))
print(same_element(set1,set3))

True
False

45. Create a set of the first `n` powers of 2.

In [951]:
limit = 5
s2 = set(2**n for n in range(limit))
s2

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [953]:
l = [1,2,3,4]
st = {1,2,3,4,5}
st.intersection(set(l))

{1, 2, 3, 4}

47. Create a set of the first `n` triangular numbers.

In [955]:
def triangular_numbers(n):
    return {i * (i + 1) // 2 for i in range(1, n + 1)}

n = 5  # Number of triangular numbers
triangular_set = triangular_numbers(n)
print(triangular_set)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [956]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length n.

In [957]:
def alternating_set(n):
    return {i % 2 for i in range(n)}

n = 5  # Length of the set
alternating = alternating_set(n)
print(alternating)

{0, 1}

50. Merge multiple sets into one.

In [958]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}